/* Start pause Button */
.start-button {
    outline: none;
    user-select: none;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.04rem;
    padding: 0.4rem 3rem;
    cursor: pointer;
    border-radius: 0.4rem;
    border: 0.3rem solid #084c9f;
    background: #2f80ed;
    position: relative;
    overflow: hidden;
    box-shadow: 0 3px 0 0 #03326a;
    width:70%;
}

.start-button:hover{
    background-color: #1c6ed1;
}

.start-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(0.01);
    transition: transform 0.3s ease-in;
    mix-blend-mode: difference;
    background: radial-gradient(circle at center, #fff 24%, #000 25%, #000 100%);
}

.start-button:active {
    top: 3px;
    box-shadow: none;
}

.start-button[data-active="true"] {
    top: 3px;
    box-shadow: none;
}


/* Settings and Report */
.options{
    display: flex;
    justify-content:flex-end;
    flex-direction: row;
    align-items: end;
    align-content: end;
    margin: 20px 100px 50px 0;
  }
  
  /* .options-box{
    background-color: #2eb45a;
    border-radius: 10px;
    margin:0 10px 0 10px
  } */
  
  .options-button {
    color: #000000;
    background-color: white;
    border: 0;
    outline: var(--border);
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-family: monospace;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6); /* darken(dodgerblue, 40%) */
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 4px solid rgba(192, 192, 192, 0.7); /* lighten(gray, 70%) */
    margin:0 20px
  }
  
  .options-button:hover {
    box-shadow: 0px 15px 25px -5px rgba(0, 0, 0, 0.6); /* darken(dodgerblue, 40%) */
    transform: scale(1.03);
  }
  
  .options-button:active {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7); /* darken(dodgerblue, 30%) */
    transform: scale(0.98);
  }