.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 95%;
}

.close-button {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.timeline-container {
  margin-top: 20px;
}

.timeline {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  position: relative;
}

.timeline-segment {
  flex: 1;
  height: 100%;
}

.timeline-segment.work {
  background: green;
}

.timeline-segment.break {
  background: gray;
}

.timeline-hour-line {
  position: absolute;
  height: 100%;
  width: 1px;
  background: black;
}

.timeline-hour-line:nth-child(60n + 1) {
  left: calc((100% / 1440) * 60 * var(--hour-index));
}

.timeline-hours {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color:black;
}

.timeline-hour {
  flex: 1;
  text-align: center;
  font-size: 12px;
}